<ion-nav-bar class="bar-content">
  <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="{{ 'mm.login.sign_signuptitle' | translate }}">
  <ion-content mm-state-class>
    <div class="sign-up-page login-page">
      <div class="col-md-12 login-form">
        <div class="">
          <div class="col-md-8 form-group col-md-offset-2">
            <input type="text" class="form-control username-input" placeholder="{{ 'mm.login.sign_username' | translate }}" ng-model="signup.username"/>
          </div>
        </div>
        <div class="">
          <div class="col-md-8 form-group col-md-offset-2">
            <input type="text" class="form-control username-input" placeholder="{{ 'mm.login.sign_email' | translate }}" ng-model="signup.email"/>
          </div>
        </div>
        <div class="">
          <div class="col-md-8 form-group col-md-offset-2">
            <input type="password" class="form-control password-input" placeholder="{{ 'mm.login.sign_password' | translate }}" ng-model="signup.password"/>
          </div>
        </div>
        <div class="">
          <div class="col-md-8 form-group col-md-offset-2">
            <input type="password" class="form-control password-input" placeholder="{{ 'mm.login.sign_password' | translate }}" ng-model="signUp.confirmPassword"/>
          </div>
        </div>
        <div class="">
          <div class="col-md-8 form-group col-md-offset-2">
            <button ng-click="signup()" class="btn sign-in-button form-control btn-default">
              {{ 'mm.login.signUp' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
