<ion-view class="text-center" view-title="{{ 'mm.login.credentials' | translate }}">
  <ion-content mm-state-class>
    <div class="login-page">
      <div class="col-md-12 login-form">
        <div class="">
          <div class="col-md-8 form-group col-md-offset-2">
            <i class = "icon icon ion-android-person username-icon"></i>
            <input type="text" class="username-input" placeholder="{{ 'mm.login.username' | translate }}" ng-model="credentials.username"/>
          </div>
        </div>
        <div class="">
          <div class="col-md-8 form-group col-md-offset-2">
            <i class = "icon icon ion-android-lock password-icon"></i>
            <input type="password" class="password-input" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password"/>
          </div>
        </div>
        <div class="">
          <div class="col-md-8 form-group col-md-offset-2">
            <button ng-click="login()" class="btn sign-in-button form-control btn-default">
              {{ 'mm.login.SIGNIN' | translate }}
            </button>
          </div>
        </div>
        <div class="">
          <div class="col-md-8 form-group col-md-offset-2">
            <div class="text-center">
              {{ 'mm.login.forgotPassword' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="login-sign-up">
        {{ 'mm.login.dontHaveAccount' | translate }} <div class="sign-up" ng-click="signUp()">{{ 'mm.login.SIGNUP' | translate }}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
